@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-on-surface font-sans overflow-x-hidden;
  }
}

@layer utilities {
  .active-underline {
    position: relative;
  }
  .active-underline::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d80005;
  }
}